*.class
*.log
adg/dse
target
project/project
project/target
.bsp
.idea
*.v
*.anno.json
*.fir
*.graphml
syn
vsrc
*.tgz
test_run_dir
ucli.key
sims
.sc
*.o
*.s
*.S
*.riscv
*.swp
*.hex
*.sc
workloads/*/*
adg/*-*.json
adg/*.dot
.vscode/
.metals/

# FPGA
fpga/*
*.dcp
*.veo
*.xml
*.xdc
*.vhdl
*.vho
*.str
*.jou
